<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f

RewriteRule ^(.*)$ $1.html
RewriteRule ^home$ index.html
RewriteRule ^img/$ home?id=$1
RewriteRule ^img/jabones/$ home?id=$1
RewriteRule ^img/joyeria/$ home?id=$1
RewriteRule ^vid/$ home?id=$1
RewriteRule ^vid/jabones/$ home?id=$1
RewriteRule ^vid/joyeria/$ home?id=$1
RewriteRule ^sku-([a-zA-Z0-9-]*)\-([0-9]+)$ items.html?tipo=$1&id=$2

</IfModule>