*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
}
:root{
    --fondo: rgba(0,0,0,0.9);
    --label: rgba(255,255,255,1);
    --data: rgb(25, 141, 1);
}
body{
    background: black;
    font-family: consolas;
}
/* >>>>> -->>>>> ----- header ----- <<<<<-- <<<<< */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 10vh;
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}
.cont_img_id{
    width: 100px;
    height: 100%;
}
.img__header{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.p_header{
    width: 60%;
}
p{
    display: block;
    width: 100%;
    color: var(--label);
}
.btn__close{
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}
.btn__close i{
    color: red;
    font-size: 2em;
}

/*-------------index-------------*/
.cont_img{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 100%;
    height: 90vh;
}
.img__background{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
}
.cont_form{
    position: relative;
    z-index: 15;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 90vh;
    padding: 15px;
    background: var(--fondo);
}
.form__profile{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}
input{
    display: block;

    width: 100%;
    max-width: 300px;
    height: 40px;

    color: var(--label);
    background: none;
    border: none;
    margin: 3px auto;
    text-align: center;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 1.2em;
    font-family: consolas;
    transition: all .2s ease;
}
input:focus{
    background: rgba(66, 46, 46, 0.3);
    height: 25px;
    border-bottom: 3px solid skyblue;
}
input::placeholder{
    color: white;
}
input[type='submit']{
    display: none;
}
.cont__btn{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
    margin: 30px auto;
}
.btn{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    height: 45px;
    color: snow;
    border: solid 3px snow;
    border-radius: 15px;
    margin: auto;
    background: skyblue;
    cursor: pointer;
    overflow: hidden;
}
.btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0);
    transition: all 0.5s ease;
}
.btn:hover::after{
    background: rgba(255,255,255,0.5);
}
.text__btn{
    position: relative;
    z-index: 10;
}
/*-------------------id-------------------*/

.id{
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 50;

    width: 100%;
    height: 90vh;
    margin: auto;
    color: white;
    background: #000;
}
.tarjeta{
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding: 10px 20px;
    overflow-y: auto;
}
.cont__element{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
}
.cont__element:nth-child(even){
    background: rgba(255, 255, 255, 0.15);
}
.cont__text{
    width: calc(100% - 40px);
}
.tarjeta .title{
    width: 100%;
}
.tarjeta .cont{
    width: 100%;
    padding-left: 40px;
    text-align: center;
    color: var(--data);
}
.clipboard{
    display: block;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto 0 auto auto;
    text-align: center;
    line-height: 40px!important;
    background: rgba(255,255,255,.5);
    cursor: pointer;
    color: white;
    transition: all 0.1s linear;
}
.clipboard:active{
    transform: scale(.7);
}
.mensaje__alert{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;

    display: block;

    min-width: 200px;
    min-height: 40px;
    text-align: center;
    padding: 7px;
    border-radius: 15px;
    color: #fff;
    background: #ccc;
    transition: all 0.3s linear;
}